%h2
  Что это?
%p
  Это лента твиттеров студентов, преподавателей и любых других людей, имеющих отношение к ВГУ ФКН

%h2
  Как оно работает?
%p
  У нас есть специальный 
  %a{href: "http://twitter.com/CSFTwi", target: "blank"}= "twitter-аккаунт"
  которым мы фолловим всех, кто имеет отношение к ФКН.
  %br
  Дальше бот в автоматическом режиме собирает ваши твиты и отображаем в ленте на сайте.

%h2
  А если у меня приватный аккаунт в твиттере?
%p
  Если вы не хотите, чтобы ваши твиты из приватного аккаунта отображались в ленте - не давайте доступ боту к своему твиттеру.
  %br
  Если мы вас уже зафолловили - можете написать Direct Message и попросить отписаться.

%h2
  Как связаться с разработчиками?
%p
  Проще всего написать в наш твиттер аккаунт, или в наш 
  %a{href: "http://github.com/Mehonoshin/csf-twi", target: "blank"}="GitHub"
  проект
