.b-feeds td {
  padding: 10px;
}
.tweets {
  margin-top: 40px;
}
.tweets .tweet {
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tweets blockquote {
  position: relative;
  top: -40px;
}
.tweets blockquote p, .tweets blockquote small {
  position: relative;
  top: -3px;
  margin-left: 50px;
}
.tweets .new {
  background: #EBF5FC;
}
.tweets img.userpic {
  position: relative;
  left: 13px;
  width: 40px;
  height: 40px;
}
.pagination em {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}

span.disabled {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.gap {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
}

a.previous_page {
  border: 1px solid #ddd;
}
